[alias]
  co = checkout
  br = branch
  st = status -sb
  rb = rebase
  rbi = rebase -i
  rba = rebase --abort
  rbc = rebase --continue
  rbs = rebase --skip
  amend = commit --amend
  undo = reset HEAD~
  l = log --no-merges
  ls = log --stat=,80 --no-merges

  lo = log --no-merges HEAD..origin
  lso = log --stat --no-merges HEAD..origin

  lg = log --graph
  lgo = log --graph HEAD..origin

  ds = diff --stat -r
  dso = diff --stat -r origin

  cp = cherry-pick

  up = !sh -c 'git fetch && git rebase -i origin/HEAD' -
  force = !sh -c 'git fetch && git reset --hard origin/${1:-$(git rev-parse --abbrev-ref HEAD)}' -
  review = diff master..
  review-difftool = difftool master..

  ugly-diff = !git --no-pager diff --no-color

  branch-name = "!git rev-parse --abbrev-ref HEAD"
  publish = "!git push -u origin $(git branch-name)"
  unpublish = "!git push origin :$(git branch-name)"

  message = log --format=%B -n 1

  hash = "!git rev-parse --short HEAD"

  wipe = !sh -c 'git branch -D $1 && git push origin :$1' -

  upgrade-submodules = submodule update --init --remote

  ancestor = merge-base HEAD origin/HEAD
[branch]
  autosetuprebase = always
[clean]
  requireForce = false
[log]
  date = relative
[format]
  pretty = format:%C(yellow)%h%Creset %C(blue)%d%Creset %s %C(green)(%an)%Creset %C(cyan)%cr%Creset
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
	editor = vim
[pager]
  diff = diff-so-fancy | less --tabs=4 -RFX
  show = diff-so-fancy | less --tabs=4 -RFX
[push]
  default = current
[pull]
	rebase = true
[fetch]
  prune = true
[color]
  ui = always
[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[diff]
	tool = Kaleidoscope
	external = difft
[difftool]
	prompt = false
	trustExitCode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = Kaleidoscope
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true

[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true
  process = git-lfs filter-process

[github]
  user = craveytrain

[credential]
  helper = osxkeychain

[init]
	defaultBranch = main

[safe]
	directory = /opt/homebrew

[user]
  name = Mike Cravey
  email = mike@craveytrain.com
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://github.expedia.biz"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
